// All about theme style

// color palette
$jetBlack: #363430;
$silver: #c4c2c0;
$babyPowder: #f8f7f2;
$vistaBlue: #a0adec;
$glaucousBlue: #6e85b7;
$coralPink: #ff8d83;

// theme
$background: $babyPowder;
