.test--border {
  border: black solid 1px;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #f8f7f2;
  margin: 0;
  padding: 0;
  color: #363430;
}

.page-block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
  padding-top: 50px;
}
.page-block--main {
  background-color: #f8f7f2;
}
.page-block--second {
  background-color: #bdcef0;
}
.page-block--flex-align-center {
  align-items: center;
}
.page-block--inner-shadow {
  box-shadow: inset 0px 20px 20px -20px rgba(0, 0, 0, 0.3);
}
.page-block--50vh {
  min-height: 50vh;
}

.text-color--main {
  color: #363430;
}
.text-color--second,
.landing__head__text {
  color: rgba(122, 119, 119, 0.9921568627);
}
.text-color--bright {
  color: #f8f7f2;
}

.section-head__title {
  text-align: left;
  align-self: flex-start;
  font-size: 32px;
}
.section-head__title--landing {
  font-size: 18px;
}
.section-head__title--underline {
  border-bottom: 2px solid #ff8d83;
}

.link {
  text-decoration: none;
  color: #363430;
}
.link__contact {
  text-decoration: underline #ff8d83;
}
.link__contact:hover {
  background-color: #ff8d83;
  color: #f8f7f2;
}
.link__contact--icon:hover {
  color: #ff8d83;
}
.link__hidden-album {
  background-color: #f8f7f2;
  color: rgba(122, 119, 119, 0.9921568627);
}
.link__hidden-album:hover {
  text-decoration: underline #ff8d83;
  color: #f8f7f2;
  background-color: rgba(122, 119, 119, 0.9921568627);
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.landing__head {
  text-align: left;
  margin-top: auto;
}
.landing__head__text {
  font-weight: 600;
}
.landing__head__text--right {
  text-align: end;
}
.landing__head__text--h1 {
  font-size: 48px;
}
.landing__head__text--h2 {
  font-size: 20px;
}
.landing__head__text--h3 {
  font-size: 18px;
}
.landing__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: auto;
}
.landing__bottom__img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 15px solid white;
  border-bottom: none;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}
@media only screen and (max-width: 576px) {
  .about {
    padding: 0 40px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about {
    padding: 0 60px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about {
    padding: 0 100px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about {
    padding: 0 120px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 1201px) {
  .about {
    padding: 0 140px; /* Add padding to the left and right */
  }
}
.about__content {
  margin-top: auto;
  margin-bottom: auto;
}
.about__text {
  text-align: justify;
  line-height: 2;
  margin-bottom: 60px;
}
@media only screen and (max-width: 576px) {
  .about__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about__text {
    font-size: 17px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about__text {
    font-size: 19px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about__text {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1201px) {
  .about__text {
    font-size: 20px;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}
@media only screen and (max-width: 576px) {
  .projects {
    padding: 0 40px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projects {
    padding: 0 60px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projects {
    padding: 0 100px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects {
    padding: 0 120px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 1201px) {
  .projects {
    padding: 0 140px; /* Add padding to the left and right */
  }
}
.projects__content {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}
.projects-container {
  width: 100%;
}
.projects-section {
  padding: 10px 0;
}
.projects-section > h4 {
  text-decoration: overline;
}

.projects__cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.projects__cards::-webkit-scrollbar {
  height: 15px;
}

.projects__cards::-webkit-scrollbar-thumb {
  background: #6e85b7;
  border-radius: 14px;
}

.projects__cards::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.projects__cards::-webkit-scrollbar-track {
  background: #edf2f4;
  border-radius: 14px;
  visibility: collapse;
}

.projects__cards::-webkit-scrollbar-thumb:hover
  + .projects__cards::-webkit-scrollbar-track {
  visibility: visible;
}

@media only screen and (max-width: 576px) {
  .projects__cards::-webkit-scrollbar {
    display: none;
  }
}
.projects__card {
  padding: 20px;
  transition: all 0.2s;
  background: white;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /* scroll-snap-align: start; */
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .projects__card {
    width: 240px;
    min-height: 240px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .projects__card {
    width: 264px;
    min-height: 264px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .projects__card {
    width: 300px;
    min-height: 300px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .projects__card {
    width: 300px;
    min-height: 300px;
  }
}
@media only screen and (min-width: 1201px) {
  .projects__card {
    width: 300px;
    min-height: 300px;
  }
}
.projects__card:first-child {
  margin-left: 20px;
}
.projects__card:last-child {
  margin-right: 20px;
}
.projects__card__title {
  font-size: 20px;
}
.projects__card__text {
  margin: 20px 0;
  max-width: 85%;
  font-size: 16px;
}
.projects__card__tech {
  border-left: 6px solid;
  margin-right: 6px;
  padding-left: 3px;
}
.projects__card__tech--html {
  border-color: rgb(205, 84, 51);
}
.projects__card__tech--js {
  border-color: rgb(238, 219, 109);
}
.projects__card__tech--scss {
  border-color: rgb(194, 114, 154);
}
.projects__card__tech--react {
  border-color: rgb(132, 218, 246);
}
.projects__card__tech--firestore {
  border-color: rgb(247, 205, 86);
}
.projects__card__tech--java {
  border-color: rgb(207, 55, 46);
}
.projects__card__tech--spring {
  border-color: rgba(98, 164, 66);
}
.projects__card__tech--ts {
  border-color: rgba(46, 108, 186);
}

.projects__card__tech--other {
  border-color: rgba(122, 119, 119, 0.9921568627);
}
.projects__card__link-wrapper {
  margin-top: auto;
}
.projects__card__link {
  text-decoration: none;
  color: white;
  background: #6e85b7;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
  margin: 0 4px;
}
.projects__card__link:hover {
  border: 1px solid #6e85b7;
  color: #6e85b7;
  background: white;
}

#projectsSection {
  padding: 0;
  margin: 0;
}

#projectsHead {
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  min-height: 0;
  margin-top: 0;
}
@media only screen and (max-width: 576px) {
  #projectsHead {
    padding: 0 40px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #projectsHead {
    padding: 0 60px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #projectsHead {
    padding: 0 100px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #projectsHead {
    padding: 0 120px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 1201px) {
  #projectsHead {
    padding: 0 140px; /* Add padding to the left and right */
  }
}

.techstacks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}
@media only screen and (max-width: 576px) {
  .techstacks {
    padding: 0 40px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .techstacks {
    padding: 0 60px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .techstacks {
    padding: 0 100px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .techstacks {
    padding: 0 120px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 1201px) {
  .techstacks {
    padding: 0 140px; /* Add padding to the left and right */
  }
}
.techstacks__content {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.techstacks__techs {
  font-size: xx-large;
}
.techstacks__icon {
  color: #f8f7f2;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 850px;
  width: 100%;
  box-sizing: border-box;
  min-height: 50vh;
  font-size: larger;
}
@media only screen and (max-width: 576px) {
  .contact {
    padding: 0 40px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact {
    padding: 0 60px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .contact {
    padding: 0 100px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .contact {
    padding: 0 120px; /* Add padding to the left and right */
  }
}
@media only screen and (min-width: 1201px) {
  .contact {
    padding: 0 140px; /* Add padding to the left and right */
  }
}
